<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <script src="app.component.ts"></script>
  <!-- <link rel="stylesheet" href="app.component.css"> -->
  <h1 class="title">
    Input Numbers
  </h1>
  <form class="form">
    <input id= "UserInput1" [(ngModel)]="n1"  name="s"/>
    <input id= "UserInput2" [(ngModel)]="n2"  name="d"/>
    <input id= "UserInput3" [(ngModel)]="n3"  name="v"/>
    <div class= "Button1">
    <button class = "cool-button2"(click)="arrangenumbers()">Ascending</button>
    </div>
    <div class= "Button2">
      <button class = "cool-button"(click)="descendingnumber()">Descending</button>
    </div>
  </form>
</div>
<h2>Here they are:</h2>
<p id="p1">
  {{ n1 }}
</p>
<p id="p2">
  {{ n2 }}
</p>
<p id="p3">
  {{ n3 }}
</p>
<p class= 'image'id ="p4"></p>
</body>